<section class="allprojets-projects">
  <div class="container padding-h">
    <div class="overlay overlay--shift popup-background" data-ani-blur>
      <h1 class="allprojets-projects__title txt-1">Проекты</h1>
      <p class="allprojets-projects__descr">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor.
      </p>
    </div>
    <div class="layout popup-background" data-ani-blur-slow>
      <ul class="allprojets-projects__list">
        <!-- prettier-ignore -->
        <li class="allprojets-projects__item">
          @@include('components/share/project-card/project-card.html', {
            title:'Имена', lnk: 'projectone.html',
            text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
            img: '@img/main/projects/proj-1.jpg',
            imgAlt: 'project 1' }
          )
        </li>
        <!-- prettier-ignore -->
        <li class="allprojets-projects__item">
          @@include('components/share/project-card/project-card.html', {
            title:'Имена', lnk: 'projectone.html',
            text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
            img: '@img/main/projects/proj-1.jpg',
            imgAlt: 'project 1' }
          )
        </li>
        <!-- prettier-ignore -->
        <li class="allprojets-projects__item">
          @@include('components/share/project-card/project-card.html', {
            title:'Имена', lnk: 'projectone.html',
            text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
            img: '@img/main/projects/proj-1.jpg',
            imgAlt: 'project 1' }
          )
        </li>
        <!-- prettier-ignore -->
        <li class="allprojets-projects__item">
          @@include('components/share/project-card/project-card.html', {
            title:'Имена', lnk: 'projectone.html',
            text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
            img: '@img/main/projects/proj-1.jpg',
            imgAlt: 'project 1' }
          )
        </li>
      </ul>
    </div>
  </div>
</section>
