<header
  class="header header-secondary @@if (goback === false) { header-secondary--no-goback } scrollbar-compensation"
>
  <div class="container padding-h">
    <nav class="header-secondary__navigate">
      <!-- prettier-ignore -->
      <div class="header-secondary__left">
        <a id="go-back" class="header-secondary__back header-secondary__back link popup-background" href="#" data-ani-blur>
          <svg width="30" height="20">
            <use href="@assets/sprite.svg#arrow_left_xs"></use>
          </svg>
          <span>Назад</span>
        </a>
      </div>
      <!-- prettier-ignore-end -->
      <ul class="header-secondary__menu popup-background" data-ani-blur>
        <li class="header-secondary__item txt-5">
          <a href="allprojects.html" class="header-secondary__link link"
            >Проекты</a
          >
        </li>
        <li class="header-secondary__item txt-5">
          <a href="/#about" class="header-secondary__link link">О художнике</a>
        </li>
        <li class="header-secondary__item txt-5">
          <a href="/#contacts" class="header-secondary__link link">Контакты</a>
        </li>
        <li class="header-secondary__item txt-5">
          <a href="market.html" class="header-secondary__link link">Магазин</a>
        </li>
      </ul>
      <div class="header-secondary__right">
        @@include('components/menu/menu.html', {})
        <button
          id="menu-btn"
          class="header__btn header-secondary__btn"
          data-ani-blur
        >
          <span class="header__bar"></span>
          <span class="header__bar"></span>
          <span class="sr-only">Главное меню</span>
        </button>
        <!-- prettier-ignore -->
        @@include('components/share/socials/socials.html',
          {
            class:'header__socials header-secondary__socials popup-background',
            attr: 'data-ani-blur'
          }
        )
      </div>
    </nav>
  </div>
</header>
