<section class="main-about section need-blur">
  <div class="container">
    <div class="section-inner">
      <h2 class="main-about__title txt-2 gap-bottom">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      </h2>
      <div class="main-about__gallery gap-bottom">
        <img src="@img/main/about/gallery.jpg" alt="Художник" />
        <button class="main-about__btn" type="button">
          <span class="sr-only">Посмотреть галерею</span>
        </button>
      </div>
      <div class="main-about__text">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
          dolor sit
        </p>
        <p>
          Amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit.
        </p>
        <p>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
      </div>
      <a class="main-about__file txt-5-b link gap-bottom" href="#">
        <span>Посмотреть файл</span>
        <svg width="30" height="20">
          <use href="@assets/sprite.svg#download_xs"></use>
        </svg>
      </a>
      <div
        id="player-wrapper"
        class="main-about__video"
        data-url="https://kinescope.io/embed/204051269"
      >
        <iframe id="player"></iframe>
        <button
          id="start-btn"
          class="main-about__btn main-about__btn--play"
          type="button"
        >
          <span class="sr-only">Посмотреть видео</span>
        </button>
      </div>
    </div>
  </div>
</section>
