.main-about {
  //  padding-bottom: 60px;

  &__gallery {
    position: relative;
    padding-top: 56.25%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: $cl-red;
    background-image: url('@assets/sprite.svg#plus_s');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
    transition: background-color $animation, opacity $animation, visibility 0s;

    @include mouse-hover {
      background-color: $cl-white;
    }

    &--play {
      background-image: url('@assets/sprite.svg#play_s');
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
      transition: background-color $animation, opacity $animation,
        visibility 0s linear $delay;
    }

    @include fhd {
      width: #{responsive(1920, 1180, 160, 120)};
      height: #{responsive(1920, 1180, 160, 120)};
      background-size: #{responsive(1920, 1180, 50, 30)};
    }

    @include tablet {
      width: 120px;
      height: 120px;
      background-size: 30px;
    }
  }

  &__text {
    margin-bottom: 80px;
    width: 50%;

    p:not(:last-child) {
      margin-bottom: 1em;
    }

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 80, 40)};
    }

    @include tablet {
      margin-bottom: 40px;
      width: 100%;
      padding-right: 220px;
    }

    @include small-tablet {
      padding-right: 0;
      padding-left: 220px;
    }

    @include mobile {
      padding-left: 0;
    }
  }

  &__file {
    svg {
      width: 18px;
      height: 18px;
    }

    @include small-tablet {
      padding-left: 220px;
    }

    @include mobile {
      padding-left: 0;
    }
  }

  &__video {
    position: relative;
    padding-top: 56.25%;
    user-select: none;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &--playing iframe {
      pointer-events: all;
    }
  }
}
