<section class="main-projects section need-blur">
  <div class="container">
    <div class="section-inner">
      <h2 class="sr-only">Проекты</h2>
      <ul class="main-projects__list">
        <li class="main-projects__item">
          <!-- prettier-ignore -->
          @@include('components/share/project-card/project-card.html',
      { title:'Имена', 
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
        img: '@img/main/projects/proj-1.jpg',
        imgAlt: 'project 1'
      })
          <!-- prettier-ignore-end -->
        </li>
        <li class="main-projects__item">
          <!-- prettier-ignore -->
          @@include('components/share/project-card/project-card.html',
      { title:'Закрытый сад', 
        text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.',
        img: '@img/main/projects/proj-2.jpg',
        imgAlt: 'project 2'
      })
          <!-- prettier-ignore-end -->
        </li>
      </ul>
      <a class="main-projects__lnk txt-5-b" href="#">Все проекты</a>
    </div>
  </div>
</section>
