.main-projects {
  margin-top: max(100vh, $min-height);

  &__container {
    padding-left: 33.33%;
  }

  &__list {
    margin-bottom: 80px;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 80, 40)};
    }

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 80px;

      @include fhd {
        margin-bottom: #{responsive(1920, 1180, 80, 40)};
      }

      @include tablet {
        margin-bottom: 40px;
      }

      @include small-mobile {
        margin-bottom: 20px;
      }
    }
  }

  &__lnk {
    color: $cl-black;
    transition: color $animation;

    span {
      display: inline-block;
      margin-right: 10px;
    }

    svg {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-top: -1px;
      vertical-align: middle;

      @include fhd {
        width: #{responsive(1920, 1180, 20, 14)};
        height: #{responsive(1920, 1180, 20, 14)};
      }

      @include tablet {
        width: 14px;
        height: 14px;
      }
    }

    @include mouse-hover {
      color: $cl-red;
    }
  }
}
