<nav id="menu" class="menu">
  <div class="menu__inner">
    <ul class="menu__list">
      <li class="menu__item txt-2">
        <a href="allprojects.html" class="menu__link">Проекты</a>
      </li>
      <li class="menu__item txt-2">
        <a href="/#about" class="menu__link">О художнике</a>
      </li>
      <li class="menu__item txt-2">
        <a href="/#contacts" class="menu__link">Контакты</a>
      </li>
      <li class="menu__item txt-2">
        <a href="market.html" class="menu__link">Магазин</a>
      </li>
    </ul>
    <!-- prettier-ignore -->
    @@include('components/share/socials/socials.html',
      {
        class: 'menu__social',
        attr: ''
      }
    )
  </div>
</nav>
