.menu {
  position: fixed;
  overflow-x: hidden;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  transition: visibility 0s linear $delay;
  pointer-events: all;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 40px 20px;
    min-height: 100%;
    opacity: 0;
  }

  &__list {
    margin-top: auto;
    margin-bottom: 80px;
    line-height: 1;
  }

  &__link {
    display: block;
    padding: 5px;
    transition: color $animation;
    user-select: none;
    text-align: center;

    @include mouse-hover {
      color: $cl-red;
    }
  }

  &__social {
    margin-bottom: auto;
  }

  &--active {
    visibility: visible;
    transition: visibility 0s linear;
    .menu__inner {
      opacity: 1;
    }
  }
}
