<section class="p404 popup-background unselectable">
  <div class="p404__container container padding-h">
    <div class="p404__top" data-ani-blur>
      <div class="p404__text txt-1">Александр Пестерев</div>
    </div>
    <div class="p404__content layout" data-ani-blur-slow>
      <h1 class="p404__title txt-2">Ошибка 404</h1>
      <p class="p404__descr">
        Страница, которую вы запрашиваете, не существует. Возможно она устарела,
        была удалена, или был введен неверный адрес в адресной строке.
      </p>
      <a class="p404__lnk txt-5-b link" href="/">
        <span>Перейти на главную</span>
        <svg width="20" height="20">
          <use href="@assets/sprite.svg#plus_s"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
