<ul class="socials @@class" @@attr>
  <li class="socials__item">
    <a class="socials__link" href="#">
      <svg width="30" height="30">
        <use href="@assets/sprite.svg#fb"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#">
      <svg width="30" height="30">
        <use href="@assets/sprite.svg#insta"></use>
      </svg>
    </a>
  </li>
  <li class="socials__item">
    <a class="socials__link" href="#">
      <svg width="30" height="30">
        <use href="@assets/sprite.svg#vk"></use>
      </svg>
    </a>
  </li>
</ul>
