.buy-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--has-promo .buy-block__price {
    color: $cl-red;
    margin-bottom: 10px;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 10, 5)};
    }

    @include tablet {
      margin-bottom: 5px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 15px 25px;
    background-color: $cl-black;
    color: $cl-white;
    @extend .txt-5-b;
    pointer-events: all;
    transition: background-color $animation;

    svg {
      --size: 20px;
      margin-left: 10px;
      width: var(--size);
      height: var(--size);

      @include fhd {
        --size: #{responsive(1920, 1180, 20, 14)};
      }

      @include tablet {
        --size: 14px;
      }
    }

    @include fhd {
      padding: #{responsive(1920, 1180, 15, 10)} #{responsive(
          1920,
          1180,
          25,
          20
        )};
    }

    @include mouse-hover {
      background-color: $cl-red;
    }
  }
}
