<section class="main-hero hero">
  <div class="container main-hero__container">
    <div class="main-hero__top scrollbar-compensation">
      <h1 class="main-hero__title txt-1">Александр Пестерев</h1>
    </div>
    <div class="main-hero__content">
      <div class="swiper main-hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide main-hero__slide">
            <img
              class="main-hero__img"
              src="@img/main/hero-slider/slider-hero-1.jpg"
              alt="слайд 1"
            />
          </div>
          <div class="swiper-slide main-hero__slide">
            <img
              class="main-hero__img"
              src="@img/main/hero-slider/slider-hero-2.jpg"
              alt="слайд 2"
            />
          </div>
        </div>
      </div>

      @@include('components/share/slider-btns/slider-btns.html', {class:
      'main-hero__slider-btns'})
    </div>

    <div class="main-hero__bottom scrollbar-compensation">
      <ul class="main-hero__menu">
        <li class="main-hero__item main-hero__item--active">
          <a class="main-hero__lnk txt-3" href="#">Проекты</a>
        </li>
        <li class="main-hero__item">
          <a class="main-hero__lnk txt-3" href="#">Об авторе</a>
        </li>
        <li class="main-hero__item">
          <a class="main-hero__lnk txt-3" href="#">Контакты</a>
        </li>
        <li class="main-hero__item">
          <a class="main-hero__lnk txt-3" href="#">Купить</a>
        </li>
      </ul>
      @@include('components/share/socials/socials.html', {class:
      'main-hero__bottom-socials'})
    </div>
  </div>
</section>
<!-- <p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam accusamus
  possimus ratione provident iusto, vitae voluptatem corrupti et sit suscipit
  blanditiis quam adipisci dicta, reprehenderit illum! Aut commodi amet eius!
  Soluta totam porro, esse perferendis suscipit repellat sapiente laborum. Esse
  nam numquam vel, quam amet reprehenderit. Mollitia modi temporibus nihil autem
  ad corporis sapiente officia eum. Minus deleniti deserunt neque. Magnam
  dignissimos quod a vel numquam eum quas ut id voluptas facere ad dolorum sit
  nesciunt expedita, quae culpa minima provident laborum harum corporis
  doloremque reiciendis laboriosam. Corrupti, ratione aspernatur! Ut, molestias
  vel asperiores impedit non unde enim blanditiis cumque. Eligendi fuga
  voluptatibus consectetur harum. Mollitia porro deleniti repellendus. Eveniet
  rem a at. Quas deleniti necessitatibus quisquam debitis libero quibusdam.
  Natus accusamus nostrum perferendis, eos blanditiis, minima error, dolore sed
  perspiciatis quis non. Id rem cumque, illum quibusdam dolorum at
  necessitatibus eligendi voluptas perspiciatis laboriosam quae deleniti quis.
  Alias, repellat.
</p> -->
