.main-hero {
  --padding-v: 40px;
  --padding-h: 80px;
  padding-top: var(--padding-v, 40px);
  padding-bottom: var(--padding-v, 40px);

  &__container,
  &__content,
  &__slider {
    height: 100%;
  }

  &__container {
    position: relative;

    @include small-tablet {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__slide {
    padding-left: 140px;
    padding-right: 140px;

    @include fhd {
      padding-left: #{responsive(1920, 1180, 140, 80)};
      padding-right: #{responsive(1920, 1180, 140, 80)};
    }

    @include tablet {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 80px;
      padding-right: 80px;
    }

    @include small-tablet {
      padding-left: var(--padding-h, 40px);
      padding-right: var(--padding-h, 40px);
    }
  }

  &__img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    object-fit: contain;
  }

  &__slider-btns {
    position: absolute;
    right: var(--padding-h, 80px);
    bottom: var(--padding-v, 40px);
    z-index: 1;
    pointer-events: all;

    @include small-tablet {
      display: none;
    }
  }

  &__top,
  &__bottom {
    position: fixed;
    padding-left: var(--padding-h, 80px);
    padding-right: calc(var(--padding-h, 80px) + var(--scrollbar-width, 0));
    max-width: 1920px;
    z-index: 2;
    pointer-events: none;

    @include small-tablet {
      position: relative;
    }
  }

  &__top {
    top: var(--padding-v, 40px);
    padding-top: var(--padding-v, 40px);

    @include small-tablet {
      top: auto;
      padding-bottom: 20px;
      padding-top: 0;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: var(--padding-h, 40px);
        right: calc(var(--padding-h, 40px) + var(--scrollbar-width, 0));
        height: 2px;
        background-color: $cl-black;
      }
    }
  }

  &__title {
    max-width: 400px;
  }

  &__bottom {
    display: flex;
    bottom: var(--padding-v, 40px);
    padding-bottom: var(--padding-v, 40px);
    align-items: flex-end;
    justify-content: space-between;

    @include small-tablet {
      bottom: auto;
      padding-bottom: 0;
      pointer-events: all;
    }

    @include min-height-wide {
      position: absolute;
      padding-bottom: 0;
    }
  }

  &__bottom-socials {
    display: none;

    @include small-tablet {
      display: inline-flex;
    }
  }

  &__menu {
    pointer-events: all;
    user-select: none;
    margin-right: 10px;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &::before {
      content: '/';
      position: absolute;
      @extend .txt-3;
      opacity: 0;
      transition: opacity $animation;
    }
  }

  &__item--active {
    pointer-events: none;

    &::before {
      opacity: 1;
      transition: opacity $animation 40ms;
    }
    .main-hero__lnk {
      transform: translateX(20px);
      transition: color $animation, transform $animation;
    }
  }

  &__lnk {
    display: inline-block;
    transition: color $animation, transform $animation 40ms;

    @include mouse-hover {
      color: $cl-red;
    }
  }

  @include fhd {
    --padding-v: #{responsive(1920, 1180, 40, 20)};
    --padding-h: #{responsive(1920, 1180, 80, 40)};
  }

  @include tablet {
    --padding-v: 20px;
    --padding-h: 40px;
  }

  //WARN: уточнить почему на tablet padding-v 20, а на small-tabet опять 40
  @include small-tablet {
    --padding-v: 40px;
    --padding-h: 40px;
  }

  @include mobile {
    --padding-v: 20px;
    --padding-h: 20px;
  }
}
