.main-hero {
  --padding-v: 40px;
  --padding-h: 80px;
  padding-top: var(--padding-v, 40px);
  padding-bottom: var(--padding-v, 40px);
  min-height: $min-height;

  &__container,
  &__content,
  &__slider {
    height: 100%;
  }

  &__content {
    position: relative;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lemonchiffon;
    padding-left: 140px;
    padding-right: 140px;

    @include fhd {
      padding-left: #{responsive(1920, 1180, 140, 80)};
      padding-right: #{responsive(1920, 1180, 140, 80)};
    }

    @include tablet {
      padding-left: 80px;
      padding-right: 80px;
    }

    @include small-tablet {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }

  &__slider-btns {
    position: absolute;
    right: var(--padding-h, 80px);
    bottom: var(--padding-v, 40px);
    z-index: 1;
    pointer-events: all;

    @include small-tablet {
      display: none;
    }
  }

  &__top,
  &__bottom {
    display: flex;
    padding-left: var(--padding-h, 80px);
    padding-right: var(--padding-h, 80px);
    max-width: 1920px;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
    pointer-events: none;
  }

  &__top {
    position: fixed;
    top: var(--padding-v, 40px);
    padding-top: var(--padding-v, 40px);

    @include small-tablet {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: var(--padding-h, 80px);
        right: var(--padding-h, 80px);
        height: 2px;
        background-color: $cl-black;
      }
    }
  }

  &__title {
    max-width: 400px;
  }

  &__socials {
    pointer-events: all;

    @include small-tablet {
      display: none;
    }
  }

  &__bottom {
    position: fixed;
    bottom: var(--padding-v, 40px);
    padding-bottom: var(--padding-v, 40px);
    align-items: flex-end;

    @include min-height {
      position: absolute;
    }
  }

  &__bottom-socials {
    display: none;

    @include small-tablet {
      display: inline-flex;
    }
  }

  &__menu {
    pointer-events: all;
    user-select: none;
  }

  &__item {
    position: relative;
    &::before {
      content: '/';
      position: absolute;
      @extend .txt-3;
      opacity: 0;
      transition: opacity $animation;
    }
  }

  &__item--active {
    pointer-events: none;

    &::before {
      opacity: 1;
      transition: opacity $animation 40ms;
    }
    .main-hero__lnk {
      transform: translateX(20px);
      transition: color $animation, transform $animation;
    }
  }

  &__lnk {
    display: inline-block;
    transition: color $animation, transform $animation 40ms;

    @include mouse-hover {
      color: $cl-red;
    }
  }

  @include fhd {
    --padding-v: #{responsive(1920, 1180, 40, 20)};
    --padding-h: #{responsive(1920, 1180, 80, 40)};
  }

  @include tablet {
    --padding-v: 20px;
    --padding-h: 40px;
  }
}
