<style>
  .preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .preloader__spinner {
    will-change: transform;
    width: 150px;
    height: 150px;
    position: relative;
    animation: spin 0.1s linear infinite;
  }

  .preloader__spinner::after {
    content: '';
    width: calc(
      100% * 0.707 * 0.7
    ); /* 100% - width parent; 0.707 = sqrt(2) / 2; 0.8 = 80% */
    height: 2px;
    background-color: #000;
    position: absolute;
    transform-origin: left top;
    transform: rotateZ(45deg);
  }
</style>
