.project-card {
  display: flex;

  &__img {
    flex: 0 0 50%;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 71.6%;
      position: relative;
      z-index: 1000;
    }

    img {
      position: absolute;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform $animation 30ms;
    }

    svg {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity $animation 30ms;
      opacity: 0;
      z-index: -1;
      color: $cl-black;
    }

    @include mouse-hover {
      img {
        transform: translateX(50px);
      }
      svg {
        opacity: 1;
      }
    }

    @include mobile {
      margin-bottom: 20px;
      flex: none;
    }
  }

  &__descr {
    padding: 40px;
    padding-right: 0;
    overflow: hidden;
    position: relative;

    @include fhd {
      padding: #{responsive(1920, 1180, 40, 30)};
    }

    @include tablet {
      padding: 30px;
    }

    @include mobile {
      padding: 0;
      padding-right: 20px;

      &::after {
        content: '';
        width: 25px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url('@assets/sprite.svg#arrow_right_xs');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 20px, 14px;
        display: block;
      }
    }
  }

  &__title {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 10px;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}
