.header {
  z-index: 3;
  position: relative;
  height: var(--header-height);
  width: 100vw;
  padding-top: var(--padding-section);
  @extend .unselectable;

  &__btn {
    position: fixed;
    z-index: 4;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    padding: 12px 5px;
    pointer-events: all;
    margin-top: -10px;
    margin-right: -5px;

    &--active {
      .header__bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }
      .header__bar:nth-child(2) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }

    @include mouse-hover {
      .header__bar {
        background-color: $cl-red;
      }
    }
  }

  &__bar {
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: transform $animation, background-color $animation;
    pointer-events: none;
  }
}

.menu--active {
  & ~ .header__socials {
    display: none;
  }

  & ~ .header__btn {
    display: flex;
  }
}

.start-animation .header__btn {
  pointer-events: none;
}
