.img-wrapper {
  display: flex;
  justify-content: center;
  height: 100%; //??
  overflow: hidden;
  background-color: $cl-light-grey;
  transition: transform $animation 30ms;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

.img-wrapper-hover-trigger {
  @include mouse-hover {
    .img-wrapper__btn {
      opacity: 1;
      visibility: visible;
      transition: background-color $animation, opacity $animation, visibility 0s;
    }
  }
}
