<div class="work-card @@class">
  <div class="work-card__inner">
    <div class="work-card__img unselectable" data-idx="@@idx">
      <img src="@@img" alt="@@alt" />
      @@if (hasButton === true) {
      <button
        id="start-btn"
        class="work-card__btn btn btn--small"
        type="button"
      ></button>
      }
    </div>
  </div>
  <div class="work-card__descr">
    <h3 class="work-card__title txt-4">@@title</h3>
    <p class="work-card__params txt-5">@@params</p>
  </div>
</div>
