.work-card {
  display: flex;
  flex-direction: column;

  &__img {
    display: flex;
    position: relative;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    background-color: $cl-light-grey;
    overflow: hidden;
    cursor: pointer;

    &:not(:hover) .work-card__btn {
      @extend .btn--hidden;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 30, 20)};
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 10, 5)};
    }

    @include tablet {
      margin-bottom: 5px;
    }
  }

  &__btn {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
