<div class="work-card @@class">
  <div class="work-card__inner @@if (hasGallery) {img-wrapper-hover-trigger}">
    <!-- prettier-ignore -->
    @@include('components/share/img-wrapper/img-wrapper.html', 
      {
        "img": "@@img",
        hasGallery: @@hasGallery,
        "alt": "@@alt",
        "class": "work-card__img"
      }
    )
    <!-- <div class="work-card__bla" title="Товар забронирован">dsf</div> -->
    <svg class="work-card__bla" width="30" height="20">
      <title>Товар забронирован</title>
      <use href="@assets/sprite.svg#lock_xs"></use>
    </svg>
  </div>
  <div class="work-card__descr">
    <h3 class="work-card__title txt-4">@@title</h3>
    <p class="work-card__params txt-5">@@params</p>
  </div>
</div>
