.work-card {
  display: flex;
  flex-direction: column;
  position: relative;

  &__inner {
    flex-grow: 1;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 30, 20)};
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 10, 5)};
    }

    @include tablet {
      margin-bottom: 5px;
    }
  }

  &--locked .work-card__bla {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 20px;
    height: 20px;
    z-index: 100;
    display: block;

    @include fhd {
      width: #{responsive(1920, 1180, 20, 16)};
      height: #{responsive(1920, 1180, 20, 16)};
    }

    @include tablet {
      width: 16px;
      height: 16px;
    }
  }
}
