.work-card {
  display: flex;
  flex-direction: column;
  position: relative;

  &__inner {
    flex-grow: 1;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
  }

  &__img {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    background-color: $cl-light-grey;
    transition: transform $animation 30ms;
    cursor: pointer;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 30, 20)};
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 10px;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 10, 5)};
    }

    @include tablet {
      margin-bottom: 5px;
    }
  }

  &--locked .work-card__img::before {
    --lock-size: 20px;
    content: '';
    position: absolute;
    top: 20px;
    left: 15px;
    width: var(--lock-size);
    height: var(--lock-size);
    background-size: var(--lock-size) var(--lock-size);
    background-image: url('@assets/sprite.svg#lock_xs');
    background-repeat: no-repeat;

    @include fhd {
      --lock-size: #{responsive(1920, 1180, 20, 16)};
    }

    @include tablet {
      --lock-size: 16px;
    }
  }
}
