<header class="header header-primary scrollbar-compensation" data-ani-blur>
  <div class="container header__container header-primary__container padding-h">
    @@include('components/menu/menu.html', {})
    <button id="menu-btn" class="header__btn">
      <span class="header__bar"></span>
      <span class="header__bar"></span>
      <span class="sr-only">Главное меню</span>
    </button>
    <!-- prettier-ignore -->
    @@include('components/share/socials/socials.html',
      {
        class: 'header__socials header-primary__socials',
        attr: ''
      }
    )
  </div>
</header>
