.purchase {
  padding-left: var(--panel-padding);
  padding-right: var(--panel-padding);
  padding-bottom: var(--panel-padding);
  max-height: 100%;
  overflow-y: auto;

  &__filling {
    display: none;
  }

  &__top {
    padding-bottom: 40px;
  }

  &__txt {
    margin-bottom: 40px;
  }

  &__whatsapp svg {
    width: 20px;
    height: 20px;

    @include fhd {
      width: #{responsive(1920, 1180, 20, 14)};
      height: #{responsive(1920, 1180, 20, 14)};
    }

    @include tablet {
      width: 14px;
      height: 14px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__send {
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__sending {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__result {
    display: none;
  }

  &__msg {
    p:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__unsuccess {
    display: none;
    margin-top: 20px;
  }

  &--filling .purchase__filling {
    display: block;
  }

  &--sending .purchase__sending {
    display: flex;
  }

  &--sended .purchase__result {
    display: block;
  }

  &--unsuccess {
    .purchase__unsuccess {
      display: block;
    }

    .purchase__result {
      display: block;
    }
  }
}
