<div id="purchase" class="purchase">
  <div class="purchase__top">
    <p class="purchase__txt">
      Вы можете заказать работу заполнив форму на сайте либо через WhatsApp
    </p>
    <a
      class="purchase__whatsapp txt-5-b link"
      target="_blank"
      href="https://wa.me/79212343489?text=Здравствуйте, хочу купить работу хххх"
      ><span>Заказать в WhatsApp</span
      ><svg width="20" height="20">
        <use href="@assets/sprite.svg#watsapp_xs"></use>
      </svg>
    </a>
  </div>
  <div
    id="purchase-request"
    class="purchase__request purchase__request--filling"
  >
    <form id="purchase-form" class="purchase__form">
      <input type="hidden" id="goods" name="goods" />

      <input
        class="input"
        type="text"
        id="name"
        name="name"
        placeholder="Имя"
        required
      />

      <input
        class="input"
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
        required
      />

      <input
        class="input"
        type="tel"
        id="tel"
        name="tel"
        placeholder="Номер телефона"
        required
      />

      <input
        class="input"
        type="text"
        id="address"
        name="address"
        placeholder="Адрес доставки"
        required
      />

      <button id="send-btn" class="purchase__send link txt-5-b">
        Отправить
        <svg width="30" height="20">
          <use href="@assets/sprite.svg#check_xs"></use>
        </svg>
      </button>

      @@include('components/share/policy/policy.html', {})
    </form>
    <div class="purchase__sending">
      <span>Заявка отправляется</span>
      @@include('components/share/spinner/spinner.html', {})
    </div>

    <div class="purchase__result">
      <div id="purchase-msg" class="purchase__msg">
        <p>Сообщение отправлено</p>
        <p>
          Если по какой то причине вы не получили ответ в течение дня,
          пожалуйста, напишите в WhatsApp.
        </p>
      </div>
      <button id="purchase-to-start" class="purchase__ok txt-5-b link">
        Ок
      </button>
    </div>
  </div>
</div>
