.purchase {
  padding-left: var(--panel-padding);
  padding-right: var(--panel-padding);
  padding-bottom: var(--panel-padding);
  max-height: 100%;
  overflow-y: auto;

  &__request {
    position: relative;
    &--sending .purchase__sending {
      display: flex;
    }

    &--sended .purchase__result {
      display: flex;
    }

    &--fail {
      .purchase__ok {
        display: block;
      }

      .purchase__result {
        display: flex;
      }
    }
  }

  &__top {
    padding-bottom: 40px;
  }

  &__txt {
    margin-bottom: 40px;
  }

  &__whatsapp svg {
    width: 20px;
    height: 20px;

    @include fhd {
      width: #{responsive(1920, 1180, 20, 14)};
      height: #{responsive(1920, 1180, 20, 14)};
    }

    @include tablet {
      width: 14px;
      height: 14px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__send {
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__sending,
  &__result {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #e8e8e8;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__sending > span {
    margin-bottom: 40px;
  }

  &__msg {
    p:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  &__ok {
    display: none;
    margin-top: 35px;
    padding: 5px;
  }

  & .input {
    @include mouse-hover {
      background-color: rgba($color: $cl-grey, $alpha: 0.2);
    }
  }
}
