.filters {
  @extend .unselectable;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    overflow-y: auto;
    padding-left: var(--panel-padding);
    padding-right: var(--panel-padding);
    flex-grow: 1;
  }

  &__bottom {
    background-color: rgba($cl-black, 0.05);
    padding-left: var(--panel-padding);
    padding-right: var(--panel-padding);
    padding-top: 20px;
    padding-bottom: var(--panel-padding);
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: flex-start;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 40, 20)};
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__caption {
    color: $cl-grey;
    margin-bottom: 20px;

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 20, 10h)};
    }

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__control {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -4px;
    margin-bottom: 6px;

    // @include fhd {
    //   margin-bottom: #{responsive(1920, 1180, 6, 1)};
    // }

    // @include tablet {
    //   margin-bottom: 1px;
    // }
  }
}
