<section class="projectone-works hero-compensation need-blur">
  <div class="container padding-h">
    <div id="projects" class="layout">
      <h2 class="sr-only">Работы</h2>
      <div class="projectone-works__text txt-block gap-bottom">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
          commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus
          et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
          dolor sit
        </p>
        <p>
          Amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit.
        </p>
        <p>
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
      </div>
      <ul class="projectone-works__list">
        <li class="projectone-works__item projectone-works__item--landscape">
          <!-- prettier-ignore -->
          @@include('components/share/work-card/work-card.html',
            { title:'Название',
              class: 'projectone-works__card',
              idx: 0,
              params: 'Холст / масло / 75 х 45 см',
              img: 'https://dummyimage.com/800x800/000/fff.jpg',
              imgAlt: 'work 1'
            }
          )
          <!-- prettier-ignore-end -->
        </li>
        <li class="projectone-works__item">
          <!-- prettier-ignore -->
          @@include('components/share/work-card/work-card.html',
            { title:'Название',
              class: 'projectone-works__card',
              idx: 1,
              params: 'Холст / масло / 75 х 45 см',
              img: 'https://dummyimage.com/600x800/47698f/fff.jpg',
              imgAlt: 'work 1'
            }
          )
          <!-- prettier-ignore-end -->
        </li>
        <li class="projectone-works__item">
          <!-- prettier-ignore -->
          @@include('components/share/work-card/work-card.html',
            { title:'Название',
              class: 'projectone-works__card',
              idx: 2,
              params: 'Холст / масло / 75 х 45 см',
              img: 'https://dummyimage.com/600x800/47698f/fff.jpg',
              imgAlt: 'work 1'
            }
          )
          <!-- prettier-ignore-end -->
        </li>
        <li class="projectone-works__item projectone-works__item--landscape">
          <!-- prettier-ignore -->
          @@include('components/share/work-card/work-card.html',
            { title:'Название',
              class: 'projectone-works__card',
              idx: 3,
              params: 'Холст / масло / 75 х 45 см',
              img: 'https://dummyimage.com/600x800/47698f/fff.jpg',
              imgAlt: 'work 1'
            }
          )
          <!-- prettier-ignore-end -->
        </li>
        <li class="projectone-works__item projectone-works__item--landscape">
          <!-- prettier-ignore -->
          @@include('components/share/work-card/work-card.html',
            { title:'Название',
              class: 'projectone-works__card',
              idx: 4,
              params: 'Холст / масло / 75 х 45 см',
              img: 'https://dummyimage.com/1000x500/47698f/fff.jpg',
              imgAlt: 'work 1'
            }
          )
          <!-- prettier-ignore-end -->
        </li>
        <li class="projectone-works__item projectone-works__item--landscape">
          <!-- prettier-ignore -->
          @@include('components/share/work-card/work-card.html',
            { title:'Название',
              class: 'projectone-works__card',
              idx: 5,
              params: 'Холст / масло / 75 х 45 см',
              img: 'https://dummyimage.com/600x800/47698f/fff.jpg',
              imgAlt: 'work 1'
            }
          )
          <!-- prettier-ignore-end -->
        </li>
      </ul>
    </div>
  </div>
</section>
