html,
body {
  height: 100vh;
}

body {
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: $cl-black;

  @include fhd {
    @include responsive-font(1920, 1180, 20, 14);
  }

  @include tablet {
    font-size: 14px;
  }
}

.blur {
  filter: blur(50px);
}

.need-blur {
  transition: filter $animation;
}

.scrollbar-compensation {
  width: 100vw;
  padding-right: var(--scrollbar-width, 0);
}
.no-scroll {
  overflow: hidden;
}

.unselectable {
  user-select: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  min-height: $min-height;
  @extend .scrollbar-compensation;
}

.main {
  transition: filter $animation;
}

.section-inner {
  --padding-h: 80px;
  padding-top: 250px;
  padding-right: var(--padding-h);
  padding-left: calc(
    33.33% + var(--padding-h) * 0.3333
  ); // 100% - 2 * 80px / 3 + 80px

  @include fhd {
    padding-top: #{responsive(1920, 1180, 250, 170)};
    --padding-h: #{responsive(1920, 1180, 80, 40)};
  }

  @include tablet {
    padding-left: 260px;
    --padding-h: 40px;
  }

  @include small-tablet {
    padding-top: 170px;
    padding-left: 40px;
  }

  @include mobile {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.after-hero {
  padding-top: 210px;

  @include fhd {
    padding-top: #{responsive(1920, 1180, 210, 150)};
  }

  @include tablet {
    padding-top: 150px;
  }

  @include small-tablet {
    padding-top: 130px;
  }

  @include mobile {
    padding-top: 150px;
  }
}
