html,
body {
  height: 100vh;
}

body {
  overflow-x: hidden;
  width: 100vw;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: $cl-black;
  --padding-section: 80px;
  --header-height: 250px;

  @include fhd {
    --padding-section: #{responsive(1920, 1180, 80, 40)};
    --header-height: #{responsive(1920, 1180, 250, 170)};
    @include responsive-font(1920, 1180, 20, 14);
  }

  @include tablet {
    --padding-section: 40px;
    --header-height: 40px;
    font-size: 14px;
  }

  @include mobile {
    --padding-section: 20px;
    --header-height: 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.need-blur {
  transition: filter $animation;
}

.scrollbar-compensation {
  width: 100vw;
  padding-right: var(--scrollbar-width, 0);
}

.no-scroll {
  overflow: hidden;
}

.unselectable {
  user-select: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.blur {
  filter: blur(50px);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  max-height: 100vh;
  min-height: $min-height;

  @extend .scrollbar-compensation;
}

.header-compensation {
  padding-top: var(--header-height);
}

.main {
  transition: filter $animation;
}

.padding-h {
  padding-left: var(--padding-section);
  padding-right: var(--padding-section);
}

.layout-hero {
  margin-left: 33.33%;

  @include tablet {
    margin-left: 0;
  }
}

.layout {
  margin-left: 33.33%;

  @include tablet {
    margin-left: 260px;
  }

  @include small-tablet {
    margin-left: 0;
  }
}

.hero-compensation {
  margin-top: max(
    calc(100vh - var(--header-height)),
    $min-height - var(--header-height)
  );
}

.gap-bottom {
  margin-bottom: 120px;

  @include fhd {
    margin-bottom: #{responsive(1920, 1180, 120, 80)};
  }

  @include tablet {
    margin-bottom: 80px;
  }
}

.lh-1 {
  line-height: 1;
}

.txt-block {
  width: 50%;

  p:not(:last-child) {
    margin-bottom: 1em;
  }

  @include tablet {
    width: 100%;
    //TODO: Узнать какой должен быть паддинг. Если сделать 260 как в макете, то h1 будет ездить через текст, сделал оптимально 300
    padding-right: 260px;
  }

  @include small-tablet {
    padding-right: 0;
    padding-left: 220px;
  }

  @include mobile {
    padding-left: 0;
  }
}
