html,
body {
  height: 100vh;
}

body {
  overflow-x: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}

.wrapper {
  width: 100vw;
  padding-right: var(--scrollbar-width, 0);
}

.no-scroll {
  overflow: hidden;
}

.unselectable {
  user-select: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
