.txt-1 {
  font-size: 65px;
  text-transform: uppercase;
  line-height: 1;

  @include fhd {
    @include responsive-font(1920, 1180, 65, 40);
  }

  @include tablet {
    font-size: 40px;
  }
}

.txt-2 {
  font-size: 50px;
  text-transform: uppercase;

  @include fhd {
    //FIXME: В макете непонятный конечный размер, выяснить какой размер шрифта должен быть на 1180
    @include responsive-font(1920, 1180, 50, 40);
  }

  @include tablet {
    font-size: 40px;
  }
}

.txt-3 {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;

  @include fhd {
    //FIXME: В макете непонятный конечный размер, выяснить какой размер шрифта должен быть на 1180
    @include responsive-font(1920, 1180, 30, 18);
  }

  @include tablet {
    font-size: 18px;
  }

  @include small-tablet {
    font-size: 22px;
  }
}

.txt-4 {
  font-size: 26px;

  @include fhd {
    @include responsive-font(1920, 1180, 26, 17);
  }

  @include tablet {
    font-size: 17px;
  }
}

.txt-4-b {
  font-size: 26px;
  font-weight: 700px;

  @include fhd {
    @include responsive-font(1920, 1180, 26, 17);
  }

  @include tablet {
    font-size: 17px;
  }
}

.txt-4-c {
  font-size: 26px;
  text-decoration: line-through;

  //WARN: В макете на разрешении 1180 размер шрифта указан как 14, но по логике должен быть 17. Уточнить у дизайнера
  @include fhd {
    @include responsive-font(1920, 1180, 26, 17);
  }

  @include tablet {
    font-size: 17px;
  }
}
.txt-5 {
  font-size: 20px;

  @include fhd {
    @include responsive-font(1920, 1180, 20, 14);
  }

  @include tablet {
    font-size: 14px;
  }
}

.txt-5-b {
  font-weight: 700;
  font-size: 20px;

  @include fhd {
    @include responsive-font(1920, 1180, 20, 14);
  }

  @include tablet {
    font-size: 14px;
  }
}

.txt-5-c {
  font-size: 20px;
  text-decoration: line-through;

  @include fhd {
    @include responsive-font(1920, 1180, 20, 14);
  }

  @include tablet {
    font-size: 14px;
  }
}

.link {
  display: inline-block;
  padding-top: 5px;
  margin-top: -5px;
  color: $cl-black;
  transition: color $animation;

  span {
    margin-right: 10px;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  @include mouse-hover {
    color: $cl-red;
  }
}

.loader-spinner {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $cl-black;
  border-top-color: transparent;

  @keyframes loader-animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  animation-name: loader-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.input {
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  border-bottom: 2px solid $cl-black;
  background-color: transparent;
  transition: background-color $animation, border-color $animation;
  outline-offset: 2px;

  &::placeholder {
    color: $cl-grey;
  }

  @include mouse-hover {
    background-color: $cl-light-grey;
  }

  &.input.input:focus {
    border-bottom-color: $cl-blue;
    background-color: transparent;
    outline-color: transparent;
  }
}

form.check .input.input:invalid {
  border-bottom-color: $cl-red;
}

textarea {
  resize: none;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border: 2px solid $cl-grey;
      border-radius: 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 16px;
    }
  }

  &:checked + label:before {
    background-color: $cl-black;
    border-color: $cl-black;
    background-image: url('@assets/sprite.svg#check2_xs');
  }
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 0;
  height: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border: 2px solid $cl-grey;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 16px;
    }
  }

  &:checked + label:before {
    background-color: $cl-white;
    border: 4px solid $cl-black;
  }
}

.btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: $cl-red;
  background-image: url('@assets/sprite.svg#plus_s');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px;
  transition: background-color $animation, opacity $animation, visibility 0s;

  @include mouse-hover {
    background-color: $cl-white;
  }

  @include fhd {
    width: #{responsive(1920, 1180, 160, 120)};
    height: #{responsive(1920, 1180, 160, 120)};
    background-size: #{responsive(1920, 1180, 50, 30)};
  }

  @include tablet {
    width: 120px;
    height: 120px;
    background-size: 30px;
  }

  @include mobile {
    width: 100px;
    height: 100px;
    background-size: 25px;
  }

  @include small-mobile {
    width: 80px;
    height: 80px;
    background-size: 20px;
  }

  &--play {
    background-image: url('@assets/sprite.svg#play_s');
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    transition: background-color $animation, opacity $animation,
      visibility 0s linear $delay;
  }

  &--small {
    width: 80px;
    height: 80px;

    @include fhd {
      width: #{responsive(1920, 1180, 80, 60)};
      height: #{responsive(1920, 1180, 80, 60)};
      background-size: #{responsive(1920, 1180, 30, 23)};
    }

    @include tablet {
      width: 60px;
      height: 60px;
      background-size: 23px;
    }
  }
}
