body {
  --scrollbar-width: 0;
}

$cl-white: #fff;
$cl-black: #000;
$cl-grey: #989898;
$cl-light-grey: #f4f4f4;
$cl-blue: #4c7cb4;
$cl-background: #fff;
$cl-red: #c46e6e;

$animation: 300ms ease-out;
$delay: 300ms;
$min-height: 640px;
