$duration: 1000ms;
$fast-duration: 500ms;

.start-animation {
  & [data-ani-blur] {
    filter: blur(150px);
    transform: translate3d(0, 0, 0);
    opacity: 0;
    transition: all 0s;
  }

  & [data-ani-blur-slow] {
    filter: blur(150px);
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: all 0s;
  }

  & [data-ani-blur-and-zoom] {
    filter: blur(150px);
    opacity: 0;
    transform: scale3d(0.6, 0.6, 0);
    transition: all 0s;
  }
}

.animating {
  & [data-ani-blur] {
    transition: filter $fast-duration ease-out, opacity $fast-duration ease-out;
    filter: blur(0);
    opacity: 1;
  }

  & [data-ani-blur-and-zoom] {
    transition: filter $duration cubic-bezier(0.25, 1, 0.5, 1) $fast-duration,
      transform $duration cubic-bezier(0.25, 1, 0.5, 1) $fast-duration,
      opacity $duration cubic-bezier(0.25, 1, 0.5, 1) $fast-duration;
    filter: blur(0);
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

  & [data-ani-blur-slow] {
    transition: filter $duration cubic-bezier(0.25, 1, 0.5, 1) $fast-duration,
      opacity $duration cubic-bezier(0.25, 1, 0.5, 1) $fast-duration;
    opacity: 1;
    filter: blur(0);
  }
}
