$duration: 500ms;
.start-animation {
  & [ani-blur] {
    filter: blur(200px);
    transform: translate3d(0, 0, 0);
  }

  & [ani-blur-slow] {
    filter: blur(200px);
    transform: translate3d(0, 0, 0);
  }

  & [ani-blur-and-zoom] {
    filter: blur(200px);
    transform: scale3d(0.8, 0.8, 0);
  }
}

.animating {
  & [ani-blur] {
    transition: filter 500ms ease-out;
    filter: blur(0);
  }

  & [ani-blur-and-zoom] {
    transition: filter $duration ease-out 500ms,
      transform $duration ease-out 500ms;
    filter: blur(0);
    transform: scale(1);
  }

  & [ani-blur-slow] {
    transition: filter $duration ease-out 500ms;
    filter: blur(0);
  }

  & [delay-500ms] {
    transition-delay: 500ms;
  }
}
