<section class="main-contacts section need-blur">
  <div class="container">
    <div id="contacts" class="section-inner">
      <p class="main-contacts__text justify-type-2">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus.
      </p>
      <div class="justify-type-2">
        <div class="main-contacts__list">
          <a class="main-contacts__link link txt-2 lh-1" href="tel:+79218297580"
            >+7 921 829 75 80</a
          >
          <a class="main-contacts__link link txt-4" href="tel:+79218297580"
            >WhatsApp</a
          >
          <a
            class="main-contacts__link link txt-4"
            href="mailto:mail@pesterev.site"
            >mail@pesterev.site</a
          >
          <a class="main-contacts__link link txt-2 lh-1" href="#">Instagram</a>
          <a class="main-contacts__link link txt-2 lh-1" href="#">Facebook</a>
          <a class="main-contacts__link link txt-2 lh-1" href="#">Вконтакте</a>
        </div>
        <form id="contact-form" class="main-contacts__form">
          <input
            class="input"
            type="text"
            id="name"
            name="name"
            placeholder="Имя"
            required
          />

          <input
            class="input"
            type="email"
            id="email"
            name="email"
            placeholder="E-mail"
            required
          />

          <textarea
            class="input"
            id="message"
            name="message"
            placeholder="Сообщение"
            minlength="10"
            required
          ></textarea>

          <button id="send-btn" class="main-contacts__send link" type="submit">
            <span class="txt-5-b">Отправить</span>
            <svg width="16" height="16">
              <use href="@assets/sprite.svg#check_xs"></use>
            </svg>
          </button>
          <p class="main-contacts__policy">
            Нажимая кнопку "Отправить", вы соглашаетесь с нашей
            <a href="#">политикой конфиденциальности</a>.
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
