.main-contacts {
  &__text {
    margin-bottom: 80px;

    p:not(:last-child) {
      margin-bottom: 1em;
    }

    @include fhd {
      margin-bottom: #{responsive(1920, 1180, 80, 40)};
    }

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 80px;
  }

  &__link {
    padding-top: 5px;
    padding-bottom: 5px;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
      @include fhd {
        margin-bottom: #{responsive(1920, 1180, 10, 0)};
      }

      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  &__communicator {
    margin-bottom: 40px;
    position: relative;

    &--sending .main-contacts__sending {
      display: flex;
    }

    &--sended .main-contacts__result {
      display: flex;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__send {
    margin-top: 40px;
    display: inline-block;
    align-self: flex-start;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  &__sending,
  &__result {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $cl-light-grey;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__sending > span {
    margin-bottom: 40px;
  }

  &__msg {
    p:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }

  &__ok {
    margin-top: 35px;
    padding: 5px;
  }
}
