<section id="hero" class="projectone-hero unselectable">
  <div class="container padding-h">
    <div class="projectone-hero__overlay overlay need-blur" ani-blur>
      <h1 class="projectone-hero__title txt-1">Имена</h1>
      <p class="projectone-hero__descr">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor.
      </p>
      <a class="projectone-hero__file txt-5-b link" href="#">
        <span>Посмотреть каталог</span>
        <svg width="18" height="18">
          <use href="@assets/sprite.svg#download_xs"></use>
        </svg>
      </a>
    </div>
    <div class="layout-hero need-blur" ani-blur-and-zoom>
      <div id="hero-slider" class="swiper projectone-hero__slider">
        <div class="swiper-wrapper">
          <!-- prettier-ignore -->
          @@include('components/share/img-wrapper/img-wrapper.html',
            {
              class: "swiper-slide projectone-hero__slide",
              img: "@img/project-one/1.jpg",
              alt: "слайд 1",
              hasGallery: false,
            }
          )
          <!-- prettier-ignore -->
          @@include('components/share/img-wrapper/img-wrapper.html',
            {
              class: "swiper-slide projectone-hero__slide",
              img: "https://dummyimage.com/640x480/000/fefefe.png",
              alt: "слайд 2",
              hasGallery: false,
            }
          )

          <!-- prettier-ignore -->
          @@include('components/share/img-wrapper/img-wrapper.html',
            {
              class: "swiper-slide projectone-hero__slide",
              img: "@img/product/product.jpg",
              alt: "слайд 3",
              hasGallery: false,
            }
          )
        </div>
      </div>
      @@include('components/share/slider-btns/slider-btns.html', {class:
      'projectone-hero__slider-btns'})
    </div>
  </div>
</section>
